@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  /* --toastify-toast-width: 50%!important; */
  --toastify-color-light: #FFF1F1C7!important;
  --toastify-text-color-light: #5F68B6!important;
  --toastify-color-progress-light: #5F68B6!important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* toast css */

.toast-container {
  width: 100%;
}

.toast-container-web {
  width: 50%;
}
